<a href="https://colab.research.google.com/github/Ludex/Learning/blob/main/AfterWork_Data_Science_Python_for_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# AfterWork Data Science: Python for Data Analysis

## 1. Importing our Libraries

### Examples

In [1]:
# Example 1
# ---
# Let's first import the pandas library. 
# We will use this library to perform analysis and manipulation.
# ---
# Hint: pandas as pd
# ---
#
import pandas as pd

In [2]:
# Example 2
# ---
# Let's import the numpy library for performing scientific computations.
# ---
# Hint i.e. numpy as np
# ---
# 
import numpy as np

### <font color="green">Challenges</font>

In [5]:
# Challenge 1
# ---
# Question: Import the matplotlib library for data visualisations.
# ---
# Hint: matplotlib.pyplot as plt
# ---  
# YOUR CODE GOES BELOW
#
import matplotlib.pyplot as plt

In [6]:
# Challenge 2
# ---
# Question: Import the seaborn library for rich data visualisations.
# ---
# Hint: seaborn as sns
# ---  
# Hint
# ---
# YOUR CODE GOES BELOW
#
import seaborn as sns

## 2. Loading Datasets

### Examples

In [7]:
# Example 1
# ---
# We can load a dataset from a csv file (accessible via URL) 
# then store it in a tabular form: a dataframe as shown below. 
# ---
# Dataset URL = http://bit.ly/IrisDataset
# ---
# 

# Loading the dataset
iris_df = pd.read_csv("http://bit.ly/IrisDataset")

# Printing the dataset
iris_df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
# Example 2
# ---
# Lets create a dataframe from an xlsx file accessed from a URL as shown.
# ---
# Dataset URL = http://bit.ly/WorldPopulationDataset1
# ---
# Hint: This is a file in excel format.
# ---
# 
world_df = pd.read_excel("http://bit.ly/WorldPopulationDataset1") 
world_df

     Rank                    Country  Population         Year
0       1                      China  1380914176  2019 (Est.)
1       2                      India  1311559168  2019 (Est.)
2       3   United States of America   333928672  2019 (Est.)
3       4                  Indonesia   265253184  2019 (Est.)
4       5                     Brazil   220632960  2019 (Est.)
..    ...                        ...         ...          ...
223   224               Cook Islands        8799  2019 (Est.)
224   225               Saint Helena        7852  2019 (Est.)
225   226           Saint Barthélemy        7140  2019 (Est.)
226   227  Saint Pierre and Miquelon        5409  2019 (Est.)
227   228                 Montserrat        5342  2019 (Est.)

[228 rows x 4 columns]

In [ ]:
# Example 3
# ---
# Let's see how we can create a dataframe from an uploaded local CSV file. 
# ---
# Download URL = http://bit.ly/CitiesDataset1 
# ---
# YOUR CODE GOES BELOW
#

In [11]:
# Run the following code which will help us upload our downlaoaded file. 
# Then select the choose files box in the output and afterwards select the desired file.
# ---
#
from google.colab import files
files.upload()

ModuleNotFoundError: No module named 'google'

In [12]:
# Upon selecting and uploading the given file from our computer, 
# we the read the file as shown below.
# "cities (6).csv" would be the name of our file.
# ---
#
cities_df = pd.read_csv("cities (6).csv")

# Printing the dataframe
cities_df

FileNotFoundError: [Errno 2] No such file or directory: 'cities (6).csv'

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# Question: Create and print a dataframe from a CSV file given the URL below.
# ---
# Dataset URL = http://bit.ly/TitanicDataset1
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# Question: Create and print a dataframe from the given Excel file found on the given URL.
# ---
# Dataset URL = http://bit.ly/WindmillDataset
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# Question: Create and print a dataframe from a local file that can be downloaded from the following link.
# ---
# Dataset Download URL = http://bit.ly/AtaraaDiabetesDataset1
# ---
# YOUR CODE GOES BELOW
#

## 3. Performing Data Exploration

### Examples

In [ ]:
# Example 1
# ---
# Determining the no. of records in the iris dataset.
# ---
# NB: This dataset was stored in the dataframe df
# ---
# 

# Shape returns no. or records/instances and columns/variables
#
iris_df.shape

In [ ]:
# Example 2
# ---
# Previewing the first few records of the dataframe
# NB: head() will give us the first five instances.
# You can also specify the no. of desired records by passing 
# a no. into the function i.e. head(3).
# ---
# 
iris_df.head()

In [ ]:
# Example 3
# ---
# Checking the bottom of the iris_df dataframe 
# NB: tail() gives us the last 5 records
# ---
# 
iris_df.tail()

In [ ]:
# Example 4
# ---
# Checking the datatypes of our columns
# ---
# float64 - floating point no.
# object - strings are store as objects
# ---
# 
iris_df.dtypes

In [ ]:
# Example 5
# ---
# Bivariate Analysis: Correlation Coefficients
# ---
# The correlation coefficient is a statistical measure that calculates the strength of the relationship 
# between the relative movements of two variables. The values range between -1.0 and 1.0. 
# A correlation of -1.0 shows a perfect negative correlation, while a correlation of 1.0 shows a perfect positive correlation. 
# A correlation of 0.0 shows no relationship between the movement of the two variables.
# ---
#

# We will first create a correlation matrix 
# This will give use the correlation values for the different variables.
# ---
#
corr = iris_df.corr()

In [ ]:
# We can create a heatmap in order to have a visual 
# of our correlation matrix as shown below
# ---

# Let's set the size of our visualisation
fig, ax = plt.subplots(figsize = (10, 10))

# Let's generate a color map to use for our visualisation
colormap = sns.diverging_palette(220, 10, as_cmap = True)

# Generate heat map, allow annotations and place floats in map
sns.heatmap(corr, cmap = colormap, annot = True, fmt = ".2f")

# Apply xticks
plt.xticks(range(len(corr.columns)), corr.columns)

# Apply yticks
plt.yticks(range(len(corr.columns)), corr.columns)

# show plot
plt.show()

From the above heatmap, we can see that variables with a color close to red have a correlation coefficient close to 1. This means the those values have a strong positive correlation. This means that as values of one variables increase, so do the values of the other variable.

On the other had variables with a correlation coefficient value close to -1 have a weak negative correlation meaning, when values of one variable increase, then the values of the other variable decrease.

Variables with a correlation coefficient close to 0 would either have a weak correlation or if the have a correlation coefficient of 0, then they would have no correlation at all.

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# Question: Determining the no. of records in the cities dataset i.e. cities_df
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# Question: Previewing the first few records of the cities dataset
# ---
# YOUR CODE GOES HERE
#

In [ ]:
# Challenge 3
# ---
# Question: Previewing the last few records of the cities dataset
# ---
# YOUR CODE GOES HERE
#

In [ ]:
# Challenge 4
# ---
# Question: Check the data types of the cities dataset
# ---
# YOUR CODE GOES HERE
#

In [ ]:
# Challenge 5
# ---
# Question: Determine if there are relationships between the variables in the cities da

## 4. Filtering and Sorting

### Examples and <font color="green">Challenges</font>

In [ ]:
# Example 4a
# ---
# Question: Filtering records when columns contain certain values
# ---
# NB: Filtering records where petal_length is 5.0 
# ---
# YOUR CODE GOES BELOW
#  

# Previewing the first 5 records
iris_df.head()

In [ ]:
# Filtering the records where column has certain values 
# ---
#
iris_df[iris_df.petal_length.isin(['5.0'])]

In [ ]:
# Challenge 4a
# ---
# Question: From the given dataset, find observations with outlets established in 2002.
# ---
# Dataset URL = https://bit.ly/ShoprityDS
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Example 4b
# ---
# Question: Select records where column doesn't have certain values 
# in our case, where petal_leghth is not 5.0. We use the "~" to specify this.
# ---
# YOUR CODE GOES BELOW
# 
iris_df[~iris_df.petal_length.isin(['5.0'])]

In [ ]:
# Challenge 4b
# ---
# Question: Select all the Dairy observations from the given dataset.
# ---
# Dataset url = https://bit.ly/ShoprityDS
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Example 4c
# ---
# Question: Filter records where petal_width greater than 1.8
# ---
# YOUR CODE GOES BELOW
# 
iris_df[(iris_df['petal_width'] > 1.8)]

In [ ]:
# Challenge 4c
# ---
# Question: Which observations had items outlet sales greater than 2000?
# ---
# Dataset url = https://bit.ly/ShoprityDS
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Example 5d
# ---
# We can also use the query method to get data where petal_width is equal to 1.0.
# ---
# Once you run this cell, replace the equals operator == to with less than < 
# or greater than > operators to see their applications as well.
# ---
# The parameter inplace makes changes in the original dataframe if True.
# We should also note the query method works if the column name doesn’t have any empty spaces.
# Hence the need replace blank spaces in our column names with '_'
# ---
#  

# Let's filter our data
#
iris_df.query('petal_width == 1.9', inplace = True) 

# Previewing our dataset 
iris_df.head()

In [ ]:
# We can also perform multiple condition filtering as shown below
# ---
#

iris_df.query('sepal_width == 2.7 and petal_length == 5.1', inplace = True) 

# Previewing our dataset 
iris_df.head()

In [ ]:
# We can also get the same result as shown below 
# ---
# We use the '&' operator
# ---
#
iris_df[(iris_df.sepal_length == 5.8) & (iris_df.petal_length == 5.1)]

# Previewing our dataset 
iris_df.head()

In [ ]:
# Challenge 5d
# ---
# Question: Which observations had items outlet sales greater than 2000 and less than 3000?
# ---
# Dataset url = https://bit.ly/ShoprityDS
# ---
# OUR CODE GOES BELOW
#

## 5. Aggregate Functions

### Examples

In [ ]:
# Loading and previewing the dataset we will use.
# ---
#
ebola_df = pd.read_csv('https://bit.ly/2T60DKG')
ebola_df.head()

In [ ]:
# Checking the size of our dataset.
# ---
# Dataset URL = https://bit.ly/2T60DKG
# ---
# YOUR CODE GOES BELOW
# 
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records.shape

In [ ]:
# Example 1
# ---
# Count() Function
# ---
# How many values do we have accoss our variables in our ebola dataset?
# ---
#
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records.count()

In [ ]:
# Example 2
# ---
# Unique Occurrences
# ---
# Were all records in our ebola dataset unique?
# ---
# 
ebola_df[ebola_df.duplicated()].shape

# Yes, there were no duplicate records

In [ ]:
# Example 3
# ---
# Sum
# ---
# How many ebola cases in Sierra Leone were reported given the ebola dataset?
# ---
# 
sierra_cases_sum = ebola_df[ebola_df.Country.isin(['Sierra Leone'])][['Value']].sum() 
sierra_cases_sum

In [ ]:
# Example 4
# ---
# Minimum
# ---
# Which record had the least no of ebola cases?
# ---
# 
least_cases = ebola_df.min()
least_cases

In [ ]:
# Example 5
# ---
# Maximum
# ---
# Which record had the highest no of ebola cases?
# ---
# 
highest_cases = ebola_df.max()
highest_cases

In [ ]:
# Example 6
# ---
# Mean
# ---
# What was the average number of ebola cases in Sierra Leone?
# ---
# 
sierra_cases_avg = ebola_df[ebola_df.Country.isin(['Sierra Leone'])][['Value']].mean() 
sierra_cases_avg

In [ ]:
# Example 7
# ---
# Mode
# ---
# Which country had the most records in the Ebola dataset? 
# ---
# 
frequent_values_df = ebola_df['Country'].mode() 
frequent_values_df

In [ ]:
# Example 8
# ---
# Median
# ---
# The median value of the Ebola cases.
# ---
# 
median_values_df = ebola_df['Value'].median() 
median_values_df

In [ ]:
# Example 9
# ---
# Summary Statistics
# ---
# Create a descriptive statistics table of the given ebola dataset.
# ---
# 
ebola_df.describe()

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# How many records can be found in the following insurance dataset?
# ---
# Insurance Dataset url = https://bit.ly/2y5CRYc
# ---
# This dataset contains anonymised patient data.
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# Are there any duplicates in the insurance dataset?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# Which regions did the patients come from?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 4
# ---
# What was the highest bmi recorded for patients from northwest and southwest regions?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 5
# ---
# What was the youngest age of a patient?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 6
# ---
# What was the average bmi recorded for patients above 50 years old?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 7
# ---
# How much was spent collectively by male and female patients?
# ---
# YOUR CODE GOES BELOW
#

## 6. Pivot Tables

### Examples

In [ ]:
# Loading and previewing the dataset that we will use
# ---
#
insurance_df = pd.read_csv('https://bit.ly/2y5CRYc')
insurance_df.head()

In [ ]:
# Example 1
# ---
# A pivot table is a summary table and comprises of 
# outcomes similar to the group by tables.
# --- 
# We will start working with pivot tables by getting one column 
# and applying an aggregate function as shown below
# ---
# 
pd.pivot_table(insurance_df, index=['region'], aggfunc='mean')

In [ ]:
# Example 2
# ---
# Getting the first entry for each gender.
# NB: You can get the last one too using last().
# In addition, note the that the columns have been arranged alphabetically.
# ---
# 
pd.pivot_table(insurance_df, index=['sex'], aggfunc='first')

In [ ]:
# Example 3
# ---
# We can group a single column by another column then apply an aggregate function as shown
# ---
# We will use numpy to compute the mean
#
pd.pivot_table(insurance_df, index=['sex'], aggfunc={'expenses': np.mean})

In [ ]:
# Example 4
# ---
# Grouping region by another column i.e. bmi, applying an aggregate function
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'bmi': np.mean})

In [ ]:
# Example 5
# ---
# Using a pivote table, we can also create a summary statistical table as shown below
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'expenses': 'describe'})

In [ ]:
# Example 6
# ---
# Getting the no. of children in each region
# ---
#  
# 
pd.pivot_table(insurance_df, index=['region'], aggfunc={'children': sum})

In [ ]:
# Example 6
# ---
# Applying multiple aggregate functions to a group
# ---
# 
pd.pivot_table(insurance_df, index=['region', 'sex'], aggfunc={'expenses': [min, max, sum]})

In [ ]:
# Example 7
# ---
# Applying multiple aggregate functions to a group
# ---
# 
pd.pivot_table(insurance_df, index=['region', 'sex'], aggfunc={'expenses': sum})

### <font color="green">Challenges</font>

The challenges in this section will be same as the ones group by challenges. Compare your solutions with the ones you got in the previous section.

In [ ]:
# You will use the supermarket dataset you previously used. 
# ---
# The dataset contains customer invoice data.
# ---
# Dataset url = https://bit.ly/SuperMarketSalesDB
# ---
#

In [ ]:
# Challenge 1
# ---
# Question: What was the average tax per city?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 2
# ---
# Question: How much did female members from the city of Yagon spend?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 3
# ---
# Question: How much was spent across all cities?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 4
# ---
# Question: What was the sum of goods sold across all branches?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 5
# ---
# Question: Which branches collected the most amount of money? 
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 6
# ---
# Question: Which were the top rated branches?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 7
# ---
# Question: Make a comparison between non-members who made cash payments and credit card payments.
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 8
# ---
# Question: Show the products line that sold the most indicating the rating.
# ---
# OUR CODE GOES BELOW 
#